<!-- <body>
    <div>
        <div id="header" style="text-align: center">
            <h1 > Good In The Neighbourhood!!!</h1> 
          </div>
      
       
          <a routerLink="login">Login</a>
          <br>
          <a routerLink="createuser">New User</a>
    <div id="mainpage" style="text-align: center" style="max-width:500px;margin:auto;">
      <input type="submit" routerLink="login" value="Login / Create Account">
      <input type="submit" routerLink="createuser" value="New User">
    </div> -->

      <router-outlet></router-outlet>
    
<!-- </div> 



</body>
<style>
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
</style> -->
